* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.nav-link.active{
    color: var(--primary-color);
}

/* 
.custom-arrows::-webkit-inner-spin-button,
.custom-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
} */