* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.img-link:hover {
    transition: .3s;
    opacity: .7;
}